<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Лабораторна робота 3</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h2 class="text-center">
                Калькулятор прибутку від сонячних електростанцій
              </h2>
            </div>
            <div class="card-body">
              <form id="calculatorForm">
                <div class="mb-3">
                  <label for="coal" class="form-label"
                    >Середньодобова потужність, МВт</label
                  >
                  <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="power"
                    placeholder="Введіть значення"
                  />
                </div>
                <div class="mb-3">
                  <label for="mazut" class="form-label"
                    >Середньоквадратичне відхилення, МВт</label
                  >
                  <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="deviation1"
                    placeholder="Введіть значення"
                  />
                </div>
                <div class="mb-3">
                  <label for="gas" class="form-label"
                    >Середньоквадратичне відхилення 2, МВт</label
                  >
                  <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="deviation2"
                    placeholder="Введіть значення"
                  />
                </div>
                <div class="mb-3">
                  <label for="gas" class="form-label"
                    >Вартість електроенергії, МВт</label
                  >
                  <input
                    type="number"
                    step="0.01"
                    class="form-control"
                    id="electricity"
                    placeholder="Введіть значення"
                  />
                </div>

                <div class="d-grid gap-2">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg violet-btn"
                    style="width: 100%"
                  >
                    Розрахувати
                  </button>
                </div>
              </form>

              <div id="results" class="mt-4" style="display: none">
                <h3 class="text-center mb-3">Результати розрахунків:</h3>

                <div class="result-section">
                  <h4>Прибутки:</h4>
                  <div class="row">
                    <div class="col-6">до вдосконалення</div>
                    <div
                      class="col-6 text-end text-end-custom"
                      id="profitBefore"
                    ></div>
                  </div>
                  <div class="row">
                    <div class="col-6">після вдосконалення</div>
                    <div
                      class="col-6 text-end text-end-custom"
                      id="profitAfter"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
